/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: fontEmbracon;
  src: url(assets/fonts/AlwynRegular.ttf);
}

body{
    background: #E6E7E8;
    font-family: 'fontEmbracon' !important;
}