<mat-grid-list cols="1" rowHeight="1:1" gutterSize="15px" id="landGrid">
  <mat-grid-list cols="1" rowHeight="4:1" gutterSize="3px">
    <mat-grid-tile id="landingCover">
      <h1 id="landingTitle">CAZO</h1>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="15px" id="landingContent">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Faça seu casamento acontecer</mat-card-title>
        <mat-card-subtitle>
          Ajudamos você a organizar o seu sonho
        </mat-card-subtitle>
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile >
      <mat-card id="listaLanding">
        <mat-list role="list">
            <mat-list-item role="listitem">Te ajudamos a guardar</mat-list-item>
            <mat-list-item role="listitem">Te conectamos com quem estará pronto a fazer seu casamento acontecer</mat-list-item>
            <mat-list-item role="listitem">Mimos para os noivos!</mat-list-item>
        </mat-list>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="10:1" gutterSize="3px">
    <mat-grid-tile>
      <button mat-raised-button color="primary" id="btnInicioCadastro">Planejar!</button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-grid-list>
