<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
        <ng-template matStepLabel>OBJETIVO 1</ng-template>
        Você precisa guardar R$2.000 este mês
        <div>
          <button color="accent" mat-button (click)="stepper.next()">Concluído</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>OBJETIVO 2</ng-template>
        Você precisa guardar R$3.000 este mês
        <div>
          <button color="accent" mat-button (click)="stepper.next()">Concluído</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>OBJETIVO 3</ng-template>
        Você precisa guardar R$4.000 este mês
        <div>
          <button color="accent" mat-button (click)="stepper.next()">Concluído</button>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
  